TD
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-SIZE: 8pt;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
A
{
    COLOR: #ffffff;

    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
A:link
{
    COLOR: #ffffff;

    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
A:hover
{
    COLOR: #CEBC77;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
    TEXT-TRANSFORM: none
}
A:active
{
    COLOR: #CEBC77;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
    TEXT-TRANSFORM: none
}
A:visited
{

}

body {
scrollbar-arrow-color: #45712C;
scrollbar-base-color: #79CA34;
scrollbar-dark-shadow-color: #45712C;
scrollbar-track-color: #6F9A4C;
}

#menu
{
    COLOR: #000000;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}

#menu a
 {
    COLOR: #000000;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
#menu a:active
 {
    COLOR: #000000;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
    TEXT-TRANSFORM: none
}
#menu a:hover
 {
    COLOR: #000000;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
    TEXT-TRANSFORM: none
}

#menu input
 {
    BACKGROUND-COLOR: #2F9840;
	 COLOR: #000000;
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana;
    FONT-STYLE: normal;
    TEXT-TRANSFORM: none
}
#menu font{
	font-size:xx-small;
	}

#menu td{
	text-align:center;
	}