<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rollercoders.smartkedex">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smartkedex_ic"
        android:label="Smartkedex 1.0 Beta10r1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider1900435046854354"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        
        <activity android:name="com.rollercoders.smartkedex.SplashActivity"
                  android:theme="@style/SplashTheme"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.Welcome"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Welcome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.PokemonDetails"
                  android:parentActivityName="com.rollercoders.smartkedex.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PokemonDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.MyPokeDetails"
            android:parentActivityName="com.rollercoders.smartkedex.PokemonDetails"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MyPokeDetails"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.EditPokeDetails"
                  android:parentActivityName="com.rollercoders.smartkedex.PokemonDetails"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.EditPokeDetails"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.AboutUs"
                  android:parentActivityName="com.rollercoders.smartkedex.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.AboutUs"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.Settings"
            android:parentActivityName="com.rollercoders.smartkedex.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Settings"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.rollercoders.smartkedex.Share"
            android:parentActivityName="com.rollercoders.smartkedex.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Share"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.rollercoders.smartkedex.ShareResult"
                  android:parentActivityName="com.rollercoders.smartkedex.Share"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ShareResult"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>